@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
  background-color: black;
  font-family: 'Roboto', sans-serif;
}


h1 {
  color: white;
  font-size: 42px;
  font-weight: 700;
}

h2 {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

h3 {
  color: #868686;
  text-transform: uppercase;
  font-weight: 500;
}

h4, p {
  color:white;
}

button {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  border: 1px white solid;
  padding: 19px 37px;
}

.App-header {
  text-align: center;

}

.logo {
  margin: 70px auto 40px auto;
}

.App-info {
  display: flex;
  margin-right: 10vw;
  margin-left: 10vw;
  justify-content: space-between;
}

.App-img {
  float: right;
}


